body{
  background-image:url(../assets/green.png);
}
.card{
  position:absolute;
  height:200px;
  width:150px;
  border:1px solid red;
  border-radius: 10px;
}
.contain{
  position:relative;
  margin:0 auto;
  height:200px;
  width:150px;
}
.stack{
  float:left;
  margin-left:50px;
  position:relative;
}
.stack:last-of-type{
  float:right;
  margin-right:50px;
}
rect{
  rx:10;
  ry:10;
}
button{
  position:absolute;
  top:10px;
  left:300px;
}
#shuffle{
  left:180px;
}
#deal{
  left:250px;
}
