@import url(https://fonts.googleapis.com/css?family=Montserrat);
body{
  background-image:url(../assets/green.png);
  font-family:'Montserrat','arial',sans-serif;
}
svg{
  fill:none;
}
.card text{
  fill:red;
  font-size:72px;
  text-anchor:middle;
  transform:translate(75px,110px);
}
.card[suit='s'] text,.card[suit='c'] text{
  fill:black;
}
.card .front{
  fill:white;
}
.card .back{
  stroke:gray;
  stroke-width:2px;
}
rect{
  rx:10;
  ry:10;
  height:200px;
  width:150px;
}
button{
  display:inline-block;
  width:auto;
  height:50px;
  font-size:32px;
  border-radius:10px;
  font-family:'Montserrat','arial',sans-serif;
  cursor:pointer;
}
button[disabled='true']{
  cursor:default;
}
button:focus,button:active{
  outline:none;
}
path{
  fill:none;
  stroke:white;
  stroke-width:3px;
}
.winLine{
  stroke:blue;
  stroke-width:15px;
  z-index:0;
}
.winLine:last-of-type{
  stroke:red;
}
