body{
  background-image:url(../assets/green.png);
}
svg{
  fill:none;
}
.card text{
  fill:red;
  font-size:72px;
  text-anchor:middle;
  width:200px;
}
.card[suit='s'] text,.card[suit='c'] text{
  fill:black;
}
.card .front{
  fill:white;
}
.card .back{
  fill: url('#cardBg');
}
rect{
  rx:10;
  ry:10;
  height:200px;
  width:150px;
}
button{
  position:absolute;
  top:10px;
  left:300px;
}
#shuffle{
  left:180px;
}
#deal{
  left:250px;
}
#reset{
  left:350px;
}
