.card{
  -webkit-transform: translate(50px,50px);
  -moz-transform: translate(50px,50px);
  -o-transform: translate(50px,50px);
  -ms-transform: translate(50px,50px);
  transform: translate(50px,50px);
}
.card[stack='0']{
  -webkit-transform: translate(100px,400px);
  -moz-transform: translate(100px,400px);
  -o-transform: translate(100px,400px);
  -ms-transform: translate(100px,400px);
  transform: translate(100px,400px);
}
.card[stack='1']{
  -webkit-transform: translate(600px,400px);
  -moz-transform: translate(600px,400px);
  -o-transform: translate(600px,400px);
  -ms-transform: translate(600px,400px);
  transform: translate(600px,400px);
}
.card.inPlay[stack='0']{
  -webkit-transform: translate(265px,350px);
  -moz-transform: translate(265px,350px);
  -o-transform: translate(265px,350px);
  -ms-transform: translate(265px,350px);
  transform: translate(265px,350px);
}
.card.inPlay[stack='1']{
  -webkit-transform: translate(435px,350px);
  -moz-transform: translate(435px,350px);
  -o-transform: translate(435px,350px);
  -ms-transform: translate(435px,350px);
  transform: translate(435px,350px);
}
.card.inPlay .back{
  opacity:0;
}
/*.shuffling .card{
  -webkit-transform: rotate(720deg);
  -moz-transform: rotate(720deg);
  -o-transform: rotate(720deg);
  -ms-transform: rotate(720deg);
  transform: rotate(720deg);
  -webkit-transform-origin: center;
  -moz-transform-origin: center;
  -o-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
}*/
.card.burn{
  -webkit-transform: translate(650px,50px);
  -moz-transform: translate(650px,50px);
  -o-transform: translate(650px,50px);
  -ms-transform: translate(650px,50px);
  transform: translate(650px,50px);
}
.card,.card.inPlay,.card.inPlay .back{
  transition: 0.3s ease;
}
